* { 
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #F8F4EC;
  color: #2c2c2c;
  line-height: 1.6;
}

header {
  background: #2e5d4b;
  border-bottom: 2px solid #cbb994;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

/* REGOLE LOGO INIZIO */
header span {
  display: flex;
  align-items: center;
}

#header-logo {
  /* Meglio usare un'altezza fissa per il logo nell'header */
  height: 40px; 
  width: auto; 
  margin-right: 10px;
}
/* REGOLE LOGO FINE */

header span a {
  font-size: 1.4em;
  font-weight: bold;
  color: #6b4c3b;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

nav a {
  text-decoration: none;
  color: #FFFFFF;
  background: #4b2e83;
  padding: 6px 12px;
  margin-left: 10px;
  border-radius: 5px;
}

nav a:hover { 
  background: #c9a227; 
  color: #fff; 
}

.hero {
  background: url('img/abbazia.jpg') bottom/cover no-repeat;
  background-position-y: 72%;
  text-align: center;
  padding: 150px 100px;
  min-height: 80vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3em;
  margin-bottom: 20px;
  color: #53290c;
  -webkit-text-stroke: #000000 2px;
}

.hero p { 
  font-size: 1.2em; 
  max-width: 800px;
  margin: 0 auto;
  -webkit-text-stroke: #000000 1px;
}

.content {
  padding: 60px 20px;
  background: #fff;
}

.content h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 40px;
  font-family: 'Playfair Display', serif;
  color: #C5A253;
}

.team-section { 
  max-width: 1000px; 
  margin: 0 auto; 
}
.box {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  margin-bottom: 40px;
}
.box:nth-child(even) { 
  flex-direction: row-reverse; 
}
.image img {
  max-width: 300px;
  border-radius: 8px;
}
.text, .person-text { 
  flex: 1; 
  font-size: 1.1em; 
  color: #222; 
}

/* ================== TOUR VIRTUALE ================== */
.mappa-container {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
}

.mappa {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.preview {
  display: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  z-index: 1000;
}

.preview img {
  width: 100%;
  display: block;
}

.preview p {
  margin: 5px 0 0 0;
  font-size: 14px;
  text-align: center;
}

/* ================== RESPONSIVE ================== */
@media (max-width: 768px) {
  header { 
    flex-direction: column; 
  }
  .box { 
    flex-direction: column; 
    text-align: center; 
  }
  .hero h1 { 
    font-size: 2em; 
  }
  .timeline {
    width: 100%;
    padding: 20px 0;
    min-height: auto;
  }
  .event {
    position: static;
    transform: none;
    margin: 20px auto;
  }
  .timeline-line {
    display: none;
  }
}


